@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkBlue: #0b0e1c;
  --neonPink: #d85c9f;
  --neonGreen: #93c799;
  --smokeGray: #22272b;
  --neonDarkBlue: #1b2460;
  --darkerPink: #d74e7c;
  --neonBlue: #96cdd1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --darkBlue: #0b0e1c;
    --neonPink: #d85c9f;
    --neonGreen: #93c799;
    --smokeGray: #22272b;
    --neonDarkBlue: #1b2460;
    --darkerPink: #d74e7c;
    --neonBlue: #96cdd1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes borderColorChange {
  0%,
  100% {
    border-color: #d85c9f; /* pink-500 */
  }
  25% {
    border-color: #96cdd1; /* red-500 */
  }
  50% {
    border-color: #93c799; /* yellow-500 */
  }
  75% {
    border-color: #1b2460; /* back to pink-500 */
  }
}

@layer utilities {
  .animate-border {
    animation: borderColorChange 3s linear infinite;
  }
}

/* Spider-punk animation */

.spider-glitch {
  position: relative;
  color: #fff;
  font-size: 150px;
  font-variant: small-caps;
}

.spider-glitch:hover {
  text-shadow: 0.05em 0 0 var(--darkerPink),
    -0.025em -0.05em 0 var(--neonDarkBlue), 0.025em 0.05em 0 var(--neonGreen);
  color: rgba(0, 194, 203, 0.2);
}

.spider-glitch.glitchy {
  text-shadow: 0.05em 0 0 var(--darkerPink),
    -0.025em -0.05em 0 var(--neonDarkBlue), 0.025em 0.05em 0 var(--neonGreen);
  color: rgba(0, 194, 203, 0.2);
}

.spider-glitch:before,
.spider-glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 31px;
  left: 0px;
  opacity: 0.8;
}

.spider-glitch:hover::before,
.spider-glitch.glitchy:before {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
}

.spider-glitch:hover::after,
.spider-glitch.glitchy:after {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 20%, 100% 100%, 0 70%);
  transform: translate(0.0125em, 0.025em);
}

@media (max-width: 980px) {
  .spider-glitch {
    font-size: 100px;
  }
  .spider-glitch:before,
  .spider-glitch:after {
    left: 0px;
    top: 20px;
  }
}

@media (max-width: 640px) {
  .spider-glitch {
    font-size: 65px;
  }
  .spider-glitch:before,
  .spider-glitch:after {
    left: 0px;
    top: 13px;
  }
}

@media (max-width: 400px) {
  .spider-glitch {
    font-size: 50px;
  }
  .spider-glitch:before,
  .spider-glitch:after {
    left: 0px;
    top: 11px;
  }
}

@keyframes glitch {
  0% {
    color: rgba(236, 34, 37, 0.2);
    text-shadow: 0.05em 0 0 var(--darkerPink),
      -0.025em -0.05em 0 var(--neonDarkBlue), 0.025em 0.05em 0 var(--neonGreen);
  }
  14% {
    text-shadow: 0.05em 0 0 var(--darkerPink),
      -0.025em -0.05em 0 var(--neonDarkBlue), 0.025em 0.05em 0 var(--neonGreen);
  }
  15% {
    color: var(--neonGreen);
    text-shadow: -0.05em -0.025em 0 var(--darkerPink),
      0.025em -0.025em 0 var(--neonDarkBlue), -0.05em -0.05em 0 var(--neonGreen);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 var(--darkerPink),
      0.025em -0.025em 0 var(--neonDarkBlue), -0.05em -0.05em 0 var(--neonGreen);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 var(--darkerPink),
      -0.025em 0.05em 0 var(--neonDarkBlue), 0 -0.05em 0 var(--neonGreen);
  }
  99% {
    color: var(--neonDarkBlue);
    text-shadow: 0.025em 0.05em 0 var(--darkerPink),
      -0.025em 0.05em 0 var(--neonDarkBlue), 0 -0.05em 0 var(--neonGreen);
  }
  100% {
    text-shadow: -0.025em 0 0 var(--darkerPink),
      -0.025em -0.025em 0 var(--neonDarkBlue),
      -0.025em -0.05em 0 var(--neonGreen);
  }
}

/* End of Spider-punk animation */

/* Mobile Nav Animation */

.mobile-nav-ol {
  top: 0 !important;
}

/* End of Mobile Nav Animation */


.cta-btn{
  border: 3px solid var(--neonPink);
  color: #FFF;
  background-color: transparent;
  padding: 1rem 1.5rem;
  border-radius: 9rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Card Animation */

.hs-card {
  border: 1px solid var(--neonPink);
  box-shadow: 0 3px 15px 2px var(--neonPink);
  transition: all 0.2s ease-in-out;
}

.hs-card:hover {
  background: var(--darkerPink);
  border: 1px solid var(--darkerPink);
}

/* Technologies background */

.technologies{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.781)), url("../public/backgrounds/neon_grid_back.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}