@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkBlue: #0B0E1C;
  --neonPink: #d85c9f;
  --neonGreen: #93c799;
  --smokeGray: #22272B;
  --neonDarkBlue: #1B2460;
  --darkerPink: #D74E7C;
  --neonBlue: #96cdd1;
  --neonBlue: #96cdd1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --darkBlue: #0B0E1C;
    --neonPink: #d85c9f;
    --neonGreen: #93c799;
    --smokeGray: #22272B;
    --neonDarkBlue: #1B2460;
    --darkerPink: #D74E7C;
    --neonBlue: #96cdd1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes borderColorChange {
  0%, 100% {
    border-color: #d85c9f; /* pink-500 */
  }
  25% {
    border-color: #96cdd1; /* red-500 */
  }
  50% {
    border-color: #93c799; /* yellow-500 */
  }
  75% {
    border-color: #1B2460; /* back to pink-500 */
  }
}

@layer utilities {
  .animate-border {
    animation: borderColorChange 3s linear infinite;
  }
}
